body {
    background-color: rgba(0, 102, 255, 0.11);
}

h1 {
    color: rgb(44, 86, 0);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#h1 {
    color: rgb(44, 86, 0);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#topo1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: center;
    width: 15%;
    margin-right: 2%;
    height: 30px;
    background-color: rgb(144, 255, 130);
    text-align: center;
    margin-top: 3px;
    border-radius: 20px;
}

#baixo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: center;
    width: 30%;
    margin-right: 2%;
    height: 30px;
    background-color: rgb(144, 255, 130);
    text-align: center;
    margin-top: 3px;
    border-radius: 20px;
    cursor: pointer;
}

p {
    text-align: center;
    font-size: larger;
    font-weight: 800;
    color: rgb(44, 86, 0);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    color: rgb(44, 86, 0);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
}

#up {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 20px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

#up::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 170px;
    height: 150px;
    z-index: -1;
    border-radius: 50%;
}

#up:hover {
    color: white;
}

#up:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}
#up:hover::before {
    top: -30px;
    left: -30px;
}
/* From Uiverse.io by Gaurav-WebDev */ 
.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
}
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}
